body{
  top: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Roboto";
  width: 100%;
  margin: 0;
}

header{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  overflow: hidden;
  background-color: #4B5959;
  color: white;
  width: 100%;
  top: 0;
  height: 80px;
  margin: 0;
}

nav{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-grow: 1;
  height: 100px;
}

nav span{
  font-size: 1.5rem;
  text-align: center;
  margin: auto 40px;
}

nav a{
  text-decoration: none;
  color: white;
}

.logo{
  margin-left: 20px;
  height: 80px;
  margin-top: 10px;
}

/*main section*/

.main{
  background-image: url("quinton-coetzee-AOaDfdSly3g-unsplash.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height:900px;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 2;
}

.club-name{
  height:200px;
  background-color: #DBA25F;
  opacity: 80%;
  width: 100%;
  margin-top: 300px;
}

h1{
  font-family: "Monoton";
  color:white;
  text-shadow: 2px 2px black;
  font-size: 4.5rem;
  letter-spacing: 0.3rem;
  word-spacing: 0.5rem;
  margin-left: 50px;
}

/*about section*/

.describe{
  margin: 0 auto;
  width: 100%;
  height: 100px;
  background-color: #77A6B6;
}

.describe h2{
  margin: 0 auto;
  text-align: center;
  font-size: 3rem;
  color:white;
  padding-top: 20px;
  font-family: "Lobster Two";
  font-style: italic;
}

#about{
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 100px;
  flex-wrap: wrap;
}

.people{
  height: 500px;
  width: 380px;
  overflow: hidden;

}

.people img{
    height: 480px;
    align-self: center;
    border: 1px solid black;
    max-width: 100%;
}

.about2{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.goals{
  text-align: center;
  width: 300px;
}

.goals h3{
  font-family: "Lobster Two";
  font-style: italic;
  font-size: 2.5rem;
}

.goals p{
  text-align: center;
  flex-shrink: 1;
}

.skate{
  margin-top: 50px;
  flex-shrink: 2;
}

.skate img{
  max-width: 100%;
  height: auto;
}

#events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.event{
  width: 20%;
  text-align: center;
}

#contact{
  background-image: url("lukas-schroeder-MTwzYSHnoXE-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 600px;
  opacity: 80%;
  margin-top: 20px;
}

.contact{
  opacity: 100%;
  background-color: black;
  text-align: center;
  top: 300px;
  position: relative;
  padding-bottom: 15px;
}

.contact a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  text-align: center;
}



/*Media Queries*/

@media only screen and (max-width:1340px){
  h1{
    font-size: 3rem;
  }

  #about{
    margin-top: 50px;
  }

  .hide-1{
    display: none;
  }
}

@media only screen and (max-width:1150px){
  .hide-2{
    display: none;
  }

  .skate img {
    display: none;
  }
}

@media only screen and (max-width:780px){
  .hide-3{
    display: none;
  }
}

@media only screen and (max-width: 600px){
  h1{
    font-size: 2.5rem;
  }


}
